<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<body>
<link rel="manifest" href="manifest.json">
 <link rel="import" href="header.html">
<div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-small-screen is-upgraded" data-upgraded=",MaterialLayout">
      <!-- The drawer is always open in large screens. The header is always shown,  even in small screens. -->
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
         <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Notifications...</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/" style="color:gray">Home</a>
            </nav>
          </div>
      </header>
      <div class="mdl-layout__drawer">
         <span class="mdl-layout-title">Try out...</span>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/send" style="color:gray">Bordcast A Message</a>
            <a class="mdl-navigation__link" href="/sendandreceive" style="color:gray">Send And Receive</a>
            <a class="mdl-navigation__link" href="/survey" style="color:gray">Take a Survey</a>
            <a class="mdl-navigation__link" href="/register" style="color:gray">Check Your Subscriptions</a> 
         </nav>
      </div>
     
      <main class="mdl-layout__content">
        <div class="page-content">
          <h4>Welcome to Push Notifications Demo!</h4>
          <h5> You have to subscribe first to send/receive a Push!</h5>
          <img src="https://cdn.hyperdev.com/us-east-1%3A085b6849-49b0-45a1-91c7-2937810139f5%2Fsignup-4.jpg" style="width:170px;height:80px;">
      </div>
    </main>

      <footer class="mdl-mini-footer">
               <ul class="mdl-mini-footer__link-list" >
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy and Terms</a></li>
                  <li><a href="#">User Agreement</a></li>
               </ul>
            <p>This page must be accessed using HTTPS.</p>
         </footer>
      <script src="/index.js"></script>
</div>
</div>
</div>
  </body>
</html>