<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<link rel="manifest" href="manifest.json">
 <link rel="import" href="header.html">
<div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-small-screen is-upgraded" data-upgraded=",MaterialLayout">
      <!-- The drawer is always open in large screens. The header is always shown,  even in small screens. -->
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
         <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Push Notifications...</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/" style="color:gray">Home</a>
            </nav>
          </div>
      </header>
      <div class="mdl-layout__drawer">
         <span class="mdl-layout-title">Try out...</span>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/send" style="color:gray">TCS Broadcast</a>
            <a class="mdl-navigation__link" href="/sendandreceive" style="color:gray">Check your Bus location</a>
            <a class="mdl-navigation__link" href="/survey" style="color:gray">Take a Survey</a>
            <a class="mdl-navigation__link" href="/register" style="color:gray">Check Your Subscriptions</a>   
         </nav>
      </div>
     
      <main class="mdl-layout__content">
        <div class="page-content">
          <h4>Broadcast a message</h4>
          
          <div id="subsciption">
            <h6>You have not subscribed yet! Please subscribe to proceed : </h6>
            <label><input type="checkbox" class="ios-switch green" id="broadcast" value="broadcast" /><div><div></div></div></label>
          </div>
      
      <div id="form">
       <form action="/sendBroadcast" method="post">
         <h5>All Subscribers will receive your message as notification</h5>
        <div class="mdl-textfield mdl-js-textfield">
               <input class="mdl-textfield__input" type="text" id="text1" name="message">
               <label class="mdl-textfield__label" for="text1">Message...</label>
            </div>
        <p class="center js-xhr-button-container"><button type="submit" class="xhr-button js-send-push-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Broadcast a Message<span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 376.977px; height: 376.977px; transform: translate(-50%, -50%) translate(121px, 15px);"></span></span></button></p>
      </form>
      </div>
      </div>
    </main>

      <footer class="mdl-mini-footer">
               <ul class="mdl-mini-footer__link-list" >
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy and Terms</a></li>
                  <li><a href="#">User Agreement</a></li>
               </ul>
            <p>This page must be accessed using HTTPS.</p>
         </footer>
         <!-- Your web-app is https, so your scripts need to be too -->
            <script src="/send.js"></script>
</div>
</div>
</div>
  </body>
</html>