<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<link rel="manifest" href="manifest.json">
 <link rel="import" href="header.html">
<div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-small-screen is-upgraded" data-upgraded=",MaterialLayout">
      <!-- The drawer is always open in large screens. The header is always shown,  even in small screens. -->
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
         <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Notifications...</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/" style="color:gray">Home</a>
            </nav>
          </div>
      </header>
      <div class="mdl-layout__drawer">
         <span class="mdl-layout-title">Try out...</span>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/send" style="color:gray">Bordcast A Message</a>
            <a class="mdl-navigation__link" href="/sendandreceive" style="color:gray">Send And Receive</a>
            <a class="mdl-navigation__link" href="/survey" style="color:gray">Take a Survey</a>
            <a class="mdl-navigation__link" href="/register" style="color:gray">Check Your Subscriptions</a>   
         </nav>
      </div>
     
      <main class="mdl-layout__content">
        <div class="page-content">
          <h4>Send a survey to all Subscribers</h4>
      <div>
        <label>Your subscription : <input type="checkbox" class="ios-switch green" id="survey" value="survey" /><div><div></div></div></label>
        </div>
      
       <form action="/sendSurvey" method="post">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="hidden" id="text1" name="message" value="Are you OK with the price hike?">
          <h5>Survey on Sangeetha's recent price hike. Would you like to request a feedback? </h5>
          
        </div>
        <p class="center js-xhr-button-container"><button type="submit" class="xhr-button js-send-push-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Request Feedback<span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 376.977px; height: 376.977px; transform: translate(-50%, -50%) translate(121px, 15px);"></span></span></button></p>
      </form>
      
      </div>
    </main>

      <footer class="mdl-mini-footer">
               <ul class="mdl-mini-footer__link-list" >
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy and Terms</a></li>
                  <li><a href="#">User Agreement</a></li>
               </ul>
            <p>This page must be accessed using HTTPS.</p>
         </footer>
        <script src="/survey.js"></script>
</div>
</div>
</div>
  </body>
</html>